@model Safe
@inject IIdentityResolver identityResolver

<p>Created by: @Model.CreatedBy.UserName</p>

<p>Managed by: @Model.Administrator.UserName</p>

<p>Subject name: @Model.SubjectName</p>


@if (identityResolver.GetCurrentUserId() == Model.Administrator.Id)
{
    <div>
        <a asp-controller="Deposit" asp-action="Create" asp-route-safeId="@Model.Id">Deposit</a>
    </div>
 
}