@model Safe
@inject IIdentityResolver identityResolver

<p>Created by: @Model.CreatedBy.UserName</p>

<p>Managed by: @Model.Administrator.UserName</p>

<p>Subject name: @Model.SubjectName</p>


@if (identityResolver.GetCurrentUserId() == Model.Administrator.Id)
{
    <div>
        <a asp-controller="Safe" asp-action="CreateDeposit" asp-route-id="@Model.Id">Deposit</a>
    </div>
 
}

@section scripts {
    <script src="~/js/safe/safeModule.js"></script>
}