@model IEnumerable<Safe>

<div class="row">
    <div class="col-md-8">
        <h1>Your Safes</h1>

        <h3>Safes you manage</h3>
        @if (Model.Count() > 0)
        {
            <ul>
                @foreach (var s in Model)
                {
                    <li><a asp-controller="Safe" asp-action="Details" asp-route-id="@s.Id">@s.SubjectName</a></li>
                }
            </ul>
        }
        else
        {
            <div><i>There's nothing here.</i></div>
        }
        <div><a asp-controller="Safe" asp-action="Create">Create a new Safe</a></div>


        <h3>Safes you contribute to</h3>
        <div><i>There's nothing here.</i></div>

        <h3>Safes you follow</h3>
        <div><i>There's nothing here.</i></div>
    </div>
</div>